body{
    margin: 0;
    font-family: 'Kanit', serif;
    font-size: 14px;
    font-weight: 300;
    color: #dadada;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
} 


h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.nav{
    width: 230px;
    height: 100%;
    background-color: #ffffff;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden;     
    display: flex;
    flex-direction: column;
    margin-top: 15px;    
}

.nav i{
    position: absolute;
    left: 25px;
    margin-top: 5px;
    font-size: 18px;
    
}

.nav__link{
    width: 100%;
    padding: 10px 60px;
    text-decoration: none;
    color: #d1d1d1;
    font-size: 18px;
    font-weight: 200;
    transition: color 0.3s linear,
                background-color 0.3s linear;
}

.nav__link:hover{
    color: #78b9f3;
    border-bottom: 1px solid #78b9f3;
    background-color: #e9f3ff;
}



.burger{
    display: none;
    background: none;
    border: 0;
    top: 30px;
    right: 13px;
    padding: 11px 5px ;
    z-index: 10000;
}

.burger__item{
    display: block;
    width: 33px;
    height: 2px;
    background-color:#d1d1d1;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item::before,
.burger__item::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #d1d1d1;
    transition: 0.2s;
}

.burger__item::before{
    transform: translateY(-9px);
}

.burger__item::after{
    transform: translateY(9px);
}


.container{
    margin-left: 230px;
    padding: 0 11px;
}


.doctors{
    background-color: #f5f6f8;
}

.doctors__nav{
    display: flex;
    justify-content: space-between;
    padding: 0 11px;
    padding-top: 20px;
    font-weight: 300;
}

.plus{
    margin-right: 7px;
}
.doctors__add{
    background-color: #fff;
    text-decoration: none;
    padding: 10px 45px;
    color: #d1d1d1;
    font-size: 15px;
    transition: color 0.2s linear;
}

.doctors__add:hover{
    color:  #78b9f3;
}

.doctors__pages{
    display: flex;
    position: relative;
    font-size: 15px;
    background-color: #ffffff;
    padding: 10px 0;
    justify-content: space-between;
    
}

.doctors__pages__vline{
    position: absolute;
    margin-left: calc(50% + 5px);
    margin-top: 2px;
    border-left: 1px solid #efefef;
    height: 18px;
}

.doctors__pages__prev{
    text-decoration: none;
    color: #d1d1d1;
    padding: 0 29px;
    transition: color 0.2s linear;
}

.doctors__pages__prev:hover{
    color: #78b9f3;
}

.doctors__pages__next{
    text-decoration: none;
    color: #d1d1d1;
    padding: 0 42px;
    transition: color 0.2s linear;
}

.doctors__pages__next:hover{
    color: #78b9f3;
}

.doctors__items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
}

.doctors__item{
    position: relative;
    margin: 11px 11px;
    width: calc(25% - 22px);
    height: 250px;
    text-align: center;
    background-color: #ffffff;
    transition: box-shadow 0.3s linear;
}

.doctors__item:hover{
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.doctors__icon{
    width: 75px;
    height: 75px;
    margin: 27px auto 13px;
    overflow: hidden;
    border-radius: 100%;
}

.doctors__photo{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.doctors__name{
    font-size: 16px;
    color: #7a7a7a;
    font-weight: 300;
}

.doctors__specialist{
    font-weight: 200;
    font-size: 16px;
    color: #d1d1d1;
}

.doctors__rating{
    margin-top: 20px;
}

.checked {
    color: orange;
}

.doctors__actions{
   padding-top: 18px;
   display: flex;
   font-size: 14px;
   font-weight: 400;
   justify-content: space-between;
   transition: color 0.5s linear;
}

.doctors__payment{
    margin: 0 28px;
    text-decoration: none;
    color: #a3a4a8; 
    transition: color 0.5s linear; 
}

.doctors__vline{
    position: absolute;
    margin-left: 50%;
    border-left: 1px solid #efefef;
    height: 18px;
}

.doctors__payment:hover { 
    opacity: 1;
    color: #78b9f3;
}

.doctors__profile{
    margin: 0 20px;
    text-decoration: none;
    color: #a3a4a8;
    transition: color 0.5s linear;
}

.doctors__profile:hover { 
    opacity: 1;
    color:#78b9f3;
}

@media (max-width: 1300px){
    .container{
        max-width: 1200px;
    }

    .doctors__item{
        width: calc(33.33333% - 22px);
    }
}
@media(max-width: 995px){
    .nav{
        width: 230px;
    }
    .container{
        max-width: 850px;
    }

    .doctors__item{
        width: calc(50% - 22px);
    }
}

@media (max-width : 767px){
    .nav{
        display: none;
    }

    .nav.show{
        display: flex;
        margin-top: 0px;
        padding-top: 60px;
        width: 100%;  
    }

    .nav__link{
       text-align: center;
        padding: 10px 0;
    }

    .nav__link::after {
        background-color: #d1d1d1; 
        margin-top: 10px;
        content: '';
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translate(-50%,0);
        width: 60%;
    }

    .nav i{
        left: 26%;
    }

    .burger{
        display: block;
        position: fixed;
    }

    
    .burger__item.active{
        transform: rotate(45deg);
    }
    .burger__item.active:after{
        top: 0;
        transform: rotate(0);
    }

    .burger__item.active:before{
        top: 0;
        transform: rotate(90deg);
    }

    .doctors__nav{
        justify-content: start;
        position: fixed;
        z-index: 1;
        background-color:  #f5f6f8;
        padding-bottom: 20px;
        width: 100%;
    }

    .doctors__nav.hide{
        z-index: 0;
    }

    .container{
        max-width: 760px;
        margin-left: 0px;
    }

    .doctors__pages{
        margin-left: 10px;
    }

    .doctors__item{
        width: calc(50% - 22px);
    }

}

@media (max-width : 576px){

    .container{
        max-width: 570px;
        margin-left: 0px;
        padding: 0 7px;
    }

    .plus{
        margin-right: 3px;
    }

    .doctors__add{
        padding: 9px 13px;
    }

    .doctors__pages{
        margin-left: 10px;
        padding: 9px 7px;
    }

    .doctors__pages__prev{
        padding: 0 10px; 
    }

    .doctors__pages__next{
        padding: 0 20px;
    }

    .doctors__pages__vline{
        margin-left: calc(50% + 4px);
    }

    .doctors__items{
        padding-top: 70px;
    }

    .doctors__payment{
        margin: 0 32px;
    }

    .doctors__profile{
        margin: 0 24px;
    }

    .doctors__item{
        width: calc(100% - 22px);
    }

}

@media(max-width : 380px){
    .doctors__add{
        padding: 9px 3px;
    }

    .plus{
        margin-right: 0px;
    }

    .doctors__pages{
        margin-left: 7px;
        padding: 9px 0px;
    }

    .doctors__pages__prev{
        padding: 0 7px; 
    }

    .doctors__pages__next{
        padding: 0 16px;
    }

    .burger__item{
        width: 27px;
    }

    .doctors__pages__vline{
        margin-left: calc(50% + 7px);
    }
}
